<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet'>
	<meta name="calander" content="calander app that lets you store your events">
	<meta name="keywords" content="HTML,CSS,JavaScript">
	<meta name="author" content="viraj chavda">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	
</head>
	<div class="grid-container">
		<div class="event-list">

				<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none;background-color:whitesmoke;width: 300px" id="leftMenu">
						<button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
						<div><%=person%></div>
					  </div>

					  <div class="w3-teal">
							<button class="w3-button w3-teal w3-xlarge w3-left" onclick="openLeftMenu()">&#9776;</button>
						</div>			  
				<div class="plate">
					<p class="script" ><span id="sel-month">January</span></p>
					<p class="shadow text2" id="sel-day">19</p>
					<p class="script" ><span id="sel-year">2019</span></p>
				</div>
				<div class="container" style="position: relative; width: 100%; margin-top: 5%;">
					<div class="panel-group" id="accordion">
					  <div class="panel panel-default" style="position: relative">
						<div class="panel-heading">
						  <h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Meetings</a>
						  </h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body" id="Meetings" style="max-height:150px;overflow-y:scroll;position:relative;">
						

							<div style="position:absolute;bottom:45;right:35;">
								<span style="content: '\002B';font-size:30px;position: fixed;cursor: pointer;background: #33ffad;border-radius:3px;padding:0px 5px 0px 5px;z-index: 1" onclick="addMeeting()">&#43;</span>
								</div>
						</div>
						</div>
						
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading">
						  <h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Events</a>
						  </h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse">
							
							<div class="panel-body" id="events" style="max-height: 200px;overflow-y:scroll;position:relative;">
								
	
								<div style="position:absolute;bottom:45;right:35;">
									<span style="content: '\002B';font-size:30px;position: fixed;cursor: pointer;background: #33ffad;border-radius:3px;padding:0px 5px 0px 5px;z-index:1" onclick="addEvents()">&#43;</span>
									</div>
								</div>



						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading">
						  <h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Birthdays</a>
						  </h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
						  <div class="panel-body" id="birthdays" style="max-height: 200px;overflow-y:scroll;position:relative;">
				
								<div style="position:absolute;bottom:45;right:35;">
									<span style="content: '\002B';font-size:30px;position: fixed;cursor: pointer;background: #33ffad;border-radius:3px;padding:0px 5px 0px 5px;z-index:1" onclick="addBirthdays()">&#43;</span>
									</div>
							</div>
						</div>
					  </div>
					</div> 
				  </div>
		</div>
		<div class="montharea">
				<div class="months"><span class="JAN">JAN</span><span class="FEB"> FEB</span><span class="MAR"> MAR</span><span class="APR"> APR</span><span class="MAY"> MAY</span><span class="JUN"> JUN</span><span class="JUL"> JUL</span><span class="AUG"> AUG</span><span class="SEP"> SEP</span> <span class="OCT"> OCT</span><span class="NOV"> NOV</span><span class="DEC"> DEC</span></div>
			   <div class="days"><span class="MON"> MON</span><span class="TUE"> TUE</span> <span class="WED"> WED</span> <span class="THU"> THU</span> <span class="FRI"> FRI</span> <span class="SAT"> SAT</span> <span class="SUN"> SUN</span></div>
		</div> 
		<div class="dates">
			<div class="putdate" id="0"></div>
			<div class="putdate" id="1"></div>
			<div class="putdate" id="2"></div>
			<div class="putdate" id="3"></div>
			<div class="putdate" id="4"></div>
			<div class="putdate" id="5"></div>
			<div class="putdate" id="6"></div>
			<div class="putdate" id="7"></div>
			<div class="putdate" id="8"></div>
			<div class="putdate" id="9"></div>
			<div class="putdate" id="10"></div>
			<div class="putdate" id="11"></div>
			<div class="putdate" id="12"></div>
			<div class="putdate" id="13"></div>
			<div class="putdate" id="14"></div>
			<div class="putdate" id="15"></div>
			<div class="putdate" id="16"></div>
			<div class="putdate" id="17"></div>
			<div class="putdate" id="18"></div>
			<div class="putdate" id="19"></div>
			<div class="putdate" id="20"></div>
			<div class="putdate" id="21"></div>
			<div class="putdate" id="22"></div>
			<div class="putdate" id="23"></div>
			<div class="putdate" id="24"></div>
			<div class="putdate" id="25"></div>
			<div class="putdate" id="26"></div>
			<div class="putdate" id="27"> </div>
			<div class="putdate" id="28"></div>
			<div class="putdate" id="29"></div>
			<div class="putdate" id="30"></div>
			<div class="putdate" id="31"></div>
			<div class="putdate" id="32"></div>
			<div class="putdate" id="33"></div>
			<div class="putdate" id="34"></div>
			<div class="putdate" id="35"></div>
			<div class="putdate" id="36"></div>
			<div class="putdate" id="37"></div> 
			<div class="putdate" id="38"></div>
			<div class="putdate" id="39"></div>
			<div class="putdate" id="40"></div>
			<div class="putdate" id="41"></div>
		</div>
	</div>	
</html>


<script>
function openLeftMenu() {
  document.getElementById("leftMenu").style.display = "block";
}

function closeLeftMenu() {
  document.getElementById("leftMenu").style.display = "none";
}
</script>
<script>
	var listOfmonths=["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"];
	var listOfdays=["MON","TUE","WED","THU","FRI","SAT","SUN"];
	var putdate=document.getElementsByClassName("putdate");
	var current_day=0;
	var baseDateobj={};
	var current_month=0;
	var j=0;
	var endMonthflag=0;
	var previous_month;
 function arrangeCalander(selectedMonth,selectedYear){
	j=1;
	endMonthflag=0;
    baseDateobj=new Date(selectedYear,selectedMonth,1);
    current_month=baseDateobj.getMonth();
	current_day=baseDateobj.getDay();
	for(let i=current_day;i<=putdate.length;i++,j++)
	{
		if(i==1)
			i=8;
		else if(i==0)
			i=7;
		putdate[i-1].innerHTML=j;
		if(endMonthflag==1)
		{
			putdate[i-1].style.background="grey";
			putdate[i-1].style.opacity=0.5;
			putdate[i-1].style.cursor="default";
			putdate[i-1].style["pointer-events"]="none";
		}	
		if(current_month<=6)
		{
			if((current_month==1 && j==28) || (current_month%2==0 && j==31 && current_month!=0) || (current_month%2!=0 && j==30)  || (current_month==0 && j==31))
			{
				j=0;	
			    endMonthflag=1;		
			}
		}
		else
		{
			if(current_month==1 && j==28 || current_month%2==0 && j==30 && current_month!=0 || current_month%2!=0 && j==31 || current_month==0 && j==31)
			{
				j=0;	
				endMonthflag=1;	
			}
		}	
	}
	if(current_month==2)
		j=28;
	else if(current_month<=6)
	{
		if(current_month%2!=0 || current_month==0)
			j=31;
		else
			j=30;
	}	
	else
	{
		if(current_month==7)
			j=31;
		else if(current_month%2==0)
			j=31;
		else
			j=30;
	}
	if(current_day<2)
	{
		if(current_day==0)
			current_day=7;
		else if(current_day=1)
			current_day=8;
	}
	for(let i=current_day-2;i>=0;i--,j--)
	{
		putdate[i].innerHTML=j;
		putdate[i].style.background="grey";
		putdate[i].style.opacity=0.5;
		putdate[i].style.cursor="default";
		putdate[i].style["pointer-events"]="none";
	}
}	
function clearCalander()
{
	for(let i=0;i<putdate.length;i++)
	{
		putdate[i].length=" ";
		putdate[i].style.background="white";
		putdate[i].style.opacity=1;
		putdate[i].style.cursor="pointer";
		putdate[i].style["pointer-events"]="auto";
	}
}
function addMeeting()
{
	var data=prompt("enter data");
	if(data)
	{
		var newMeeting='<div style="position: relative;width:100%;height:fit-content;background-color:#9EB3EB;border-radius:5px;margin:2% 0% 2% 0%">'
				+'<div style="padding-top:10px;padding-right:40px;text-align: justify;margin:2% 2% 2% 2%">'+data+'</div>'
				+'<i class="fa fa-trash-o" style="font-size:15px;position:absolute;right:20;bottom:34%;cursor:pointer" onclick="this.parentElement.style.display =\'none\' "></i>'
				+'</div>';
		$("#Meetings").append(newMeeting);
		$.post("http://localhost:3000/calander",{entry:"batman"}, function(data){
				console.log(data);
				});
	}
}
function addEvents()
{
	var data=prompt("enter data");
	var newEvent='<div style="position: relative;width:100%;height:fit-content;background-color:#9EB3EB;border-radius:5px;margin:2% 0% 2% 0%">'
		 +'<div style="padding-top:10px;padding-right:40px;text-align: justify;margin:2% 2% 2% 2%">'+data+'</div>'
		 +'<i class="fa fa-trash-o" style="font-size:15px;position:absolute;right:20;bottom:34%;"></i>'
		 +'</div>';
	$("#events").append(newEvent);
}
function addBirthdays()
{
	var data=prompt("enter data");
	var newBirthday='<div style="position: relative;width:100%;height:fit-content;background-color:#9EB3EB;border-radius:5px;margin:2% 0% 2% 0%">'
		 +'<div style="padding-top:10px;padding-right:40px;text-align: justify;margin:2% 2% 2% 2%">'+data+'</div>'
		 +'<i class="fa fa-trash-o" style="font-size:15px;position:absolute;right:20;bottom:34%;"></i>'
		 +'</div>';
	$("#birthdays").append(newBirthday);
}

function del()
{

}
document.getElementsByClassName("months")[0].addEventListener('click', function (event) {
			for(let i=0;i<listOfmonths.length;i++)
			{
    			if (event.target.classList.contains(listOfmonths[i])) 
    			{
    				console.log(current_month);
    				
					document.getElementsByClassName(listOfmonths[i])[0].style.color="blue";
					document.getElementById("sel-month").innerHTML=listOfmonths[i];
					document.getElementById("sel-day").innerHTML="1";   
       				clearCalander();
       				arrangeCalander(listOfmonths.indexOf((document.getElementsByClassName(listOfmonths[i])[0].innerHTML).trim()),2019);
       				if(previous_month>current_month)
    				{
    					$(".putdate").addClass("animatecalforward");
    					setTimeout(function(){ $(".putdate").removeClass("animatecalforward");}, 1000);
    				}
    				else
    				{
    					$(".putdate").addClass("animatecalbackward");
    					setTimeout(function(){ $(".putdate").removeClass("animatecalbackward");}, 1000);
    				}
       				previous_month=listOfmonths.indexOf((document.getElementsByClassName(listOfmonths[i])[0].innerHTML).trim());
    			}
    			else
    				document.getElementsByClassName(listOfmonths[i])[0].style.color="black";
   			}
}, false);
document.getElementsByClassName("dates")[0].addEventListener('click',function(event){
	for(let i=0;i<42;i++)
	{
		if(event.target.id==i && event.target.id!=0)
		{
			document.getElementById("sel-day").innerHTML=document.getElementById(i).innerHTML;
		}
	}
});

arrangeCalander(0,2019);

</script>
